
.header {
  background-color: #f08080;
  padding: 10px 20px;
  color : white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  width: 100%;
}
 
.header a {
  margin-right: 1000px;
  color : white;
}